body{
    margin-top: 80px;
}







/*
    Errors
*/
div.error{
    border-radius: 12px;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    background-color: rgb(208, 208, 208);
    color: red;
}

div.error * {
    padding: 8px;
}

h1#notLogged {
    text-align: center;
    font-size: 2em;
    color: rgb(25, 25, 25);
}

button.login {
    border-radius: 8px;
    margin: 8px auto;
    padding: 12px;
    background-color: #262626;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer; 
    background: rgb(9,210,79);
    background: linear-gradient(21deg, rgba(9,210,79,1) 0%, rgba(0,151,255,1) 100%); 
}