/********************
PAGE ACCUEIL
********************/
/* Menu de navigation */
.accueil{
    background-image: url('../assets/img/image_intro_accueil.jpg'); /* Photo de Casey Horner, de unsplash.com */
    background-size: 100%;
}
.nav{
    position: absolute;
    top: 0;
    width: 100%;
    background: transparent;
}

.logo{
    width: 100px;
    margin-right: 2rem;
}


.home{
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 30px;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.home a{
    color: #F5F5F5;
    margin: auto;
}

.home li{
    width: 7%;
    color: #F5F5F5;
    display: flex;
}

.login_register{
    position: absolute;
    right: 6.7rem;
    top: 2.2em;
}


.navbar_link a{
    color: #F5F5F5;
}


/*********************************
INTRODUCTION DE LA PAGE D ACCUEIL
*********************************/
.introduction{
    margin-top: 15em;
    min-height: 100vh;
    text-align: center;
    color: #F5F5F5;
}

.introduction h1{
    font-size: 210px;
}
.introduction h2{
    font-size: 50px;
}





/* Rubriques */
.rubriques{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenu_rubriques{
    margin-bottom: 10em;
    display: flex;
    width: 70%;
    flex-direction: row;
    text-align: center;
    background-color: transparent;
    background-color: rgba(168, 168, 168, 0.5);
    border-radius: 32px;
    padding: 1em;
}
.texte_rubriques{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 70%;
    margin-left: 1em;
}

.contenu_rubriques h1{
    font-size: 50px;
}
.contenu_rubriques p{
    font-size: 25px;
    text-align: left;
}

.image_histoire{
    width: 100%;
    border-radius: 32px;
    object-fit: cover;
}

.image_missions{
    width: 30%;
    border-radius: 32px;
    object-fit: cover;
}
.conteneur_image_rubrique{
    display: flex;
    justify-content: center;
    width: 30%;
} 

.contenu_newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: transparent;
    background-color: rgb(232, 232, 232);
    border-radius: 32px;
    padding: 1em;
}

.contenu_newsletter * {
    padding: 8px;
}


/* Voyageur spacecraft 1 */
.image_voyageur{
    width: 100%;
    border-radius: 32px;
    object-fit: cover;
}

.duree_voyage_voyageur1{
    font-size: 50px;
    color: rgb(34, 34, 34);
    font-weight:900;
    font-style: italic;
}





footer{
    display: flex;
    justify-content: center;
    padding: 2em;
    color: #F5F5F5;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
}

footer a{
    color: #F5F5F5;
    font-size: 20px;
}

/**
* Page admin
**/
.background-admin {
    background-color: #34495e;
    color: white;
}
.background-admin h1 {
    padding: 4rem;
    text-align: center;
}
.background-admin h3 {
    padding: 3rem;
    text-align: center;
}
.background-admin a {
    color: white;
}
.admin-hub {
    display: flex;
    justify-content: center;
}
.admin-hub-icon {
    padding: 5rem;
    text-align: center;
}


/**
    Confirmation Page
*/

main#confirmation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
    margin-bottom: 10em;
}

main#confirmation button {
    border-radius: 8px;
    margin: 8px ;
    padding: 12px;
    background-color: #262626;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer; 
    background: rgb(9,210,79);
    background: linear-gradient(21deg, rgba(9,210,79,1) 0%, rgba(0,151,255,1) 100%); 
}



/**
    Page area51
*/

.entree{
    margin-top: 80px;
    background-image: url('../assets/img/panneau_zone_51.jpg'); /* picture of the area 51 */
    background-size: 100%;
    background-repeat: no-repeat;
}

.dossier{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenu_dossier{
    margin-bottom: 10em;
    display: flex;
    width: 70%;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 32px;
    padding: 1em;
    color: rgb(255, 255, 255);
    border: white double 4px;
    font-size: 1.5em;
}

.entree header{
    height: 90vh;
    text-align: center;
    padding-top: 20vh;
    margin: 0;
}

.entree header .attention{
    font-size: 2.5em;
    padding: 1%;
    color: red;
    background-color: #fcd217;
    border-radius: 5px;
    border-color: red;
    width: 35%;
    margin:0 auto;
    border: red solid 5px;
}

.entree header .degrade{
    height : 65%;
    background: linear-gradient(0deg, rgba(66,66,66,1)50%, rgba(66,66,66,0) 70.71%);
}


.entree header .attention h5{
    font-size: 1em;
}

.entree main{
    background-color: rgb(66, 66, 66);
}